{
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module",
    "ecmaFeatures": {
      "js": true,
      "experimentalObjectRestSpread": false
    }
  },

  "env": {
    "browser": true,
    "node": false,
    "commonjs": true,
    "es6": true
  },

  "globals": {
    "process": true,
    "__DEV__": true,
    "__PROD__": true
  },

  "rules": {
    "comma-dangle": ["error", "never"],
    "no-constant-condition": "error",
    "no-control-regex": "error",
    "no-debugger": "error",
    "no-dupe-args": "error",
    "no-dupe-keys": "error",
    "no-duplicate-case": "error",
    "no-empty": "error",
    "no-empty-character-class": "error",
    "no-ex-assign": "error",
    "no-extra-boolean-cast": "error",
    "no-extra-parens": ["warn", "all"],
    "no-extra-semi": "error",
    "no-func-assign": "error",
    "no-inner-declarations": ["error", "functions"],
    "no-invalid-regexp": "error",
    "no-irregular-whitespace": "error",
    "no-negated-in-lhs": "error",
    "no-obj-calls": "error",
    "no-prototype-builtins": "warn",
    "no-regex-spaces": "error",
    "no-sparse-arrays": "error",
    "no-unreachable": "error",
    "use-isnan": "error",
    "valid-typeof": "error",

    "accessor-pairs": "warn",
    "array-callback-return": "error",
    "complexity": "off",
    "curly": ["error", "all"],
    "default-case": "warn",
    "dot-location": ["error", "property"],
    "dot-notation": "warn",
    "no-alert": "error",
    "no-caller": "error",
    "no-case-declarations": "error",
    "no-div-regex": "error",
    "no-empty-function": "off",
    "no-empty-pattern": "error",
    "no-eq-null": "off",
    "no-extra-bind": "error",
    "no-extra-label": "error",
    "no-fallthrough": "warn",
    "no-floating-decimal": "error",
    "no-implicit-globals": "error",
    "no-implied-eval": "error",
    "no-iterator": "error",
    "no-labels": "error",
    "no-lone-blocks": "error",
    "no-multi-spaces": "error",
    "no-multi-str": "error",
    "no-native-reassign": "error",
    "no-new-wrappers": "error",
    "no-octal": "error",
    "no-octal-escape": "error",
    "no-proto": "error",
    "no-return-assign": ["error", "always"],
    "no-script-url": "error",
    "no-self-compare": "error",
    "no-sequences": "error",
    "no-throw-literal": "error",
    "no-unmodified-loop-condition": "warn",
    "no-unused-expressions": ["error", { "allowShortCircuit": true, "allowTernary": true }],
    "no-unused-labels": "warn",
    "no-useless-call": "warn",
    "no-useless-concat": "warn",
    "no-useless-escape": "warn",
    "no-void": "warn",
    "no-warning-comments": ["warn", { "terms": ["todo", "fixme"], "location": "anywhere" }],
    "no-with": "error",
    "wrap-iife": ["error", "any"],
    "yoda": "off",

    "strict": ["error", "function"],

    "init-declarations": "off",
    "no-catch-shadow": "error",
    "no-delete-var": "error",
    "no-label-var": "error",
    "no-restricted-globals": "error",
    "no-shadow-restricted-names": "error",
    "no-undef": "error",
    "no-undef-init": "error",
    "no-unused-vars": "error",
    "no-use-before-define": "error",

    "callback-return": ["warn", ["callback", "cb", "next"]],
    "handle-callback-err": "error",
    "no-mixed-requires": "warn",
    "no-path-concat": "error",
    "no-restricted-modules": "off",
    "no-sync": "off",

    "comma-spacing": ["error", { "before": false, "after": true }],
    "comma-style": ["error", "last"],
    "computed-property-spacing": ["error", "never"],
    "func-style": "off",
    "id-blacklist": "off",
    "id-match": "off",
    "jsx-quotes": ["error", "prefer-double"],
    "key-spacing": ["error", { "beforeColon": false, "afterColon": true }],
    "max-depth": "off",
    "max-params": "off",
    "max-statements": "off",
    "max-statements-per-line": "off",
    "new-parens": "error",
    "no-array-constructor": "error",
    "no-continue": "warn",
    "no-nested-ternary": "error",
    "no-new-object": "error",
    "no-plusplus": "off",
    "no-restricted-syntax": "off",
    "no-ternary": "off",
    "no-trailing-spaces": "error",
    "no-whitespace-before-property": "error",
    "object-property-newline": "off",
    "one-var": "off",
    "operator-assignment": "off",
    "operator-linebreak": ["error", "after"],
    "padded-blocks": ["error", "never"],
    "quote-props": "off",
    "quotes": ["error", "single", "avoid-escape"],
    "require-jsdoc": "off",
    "semi": ["error", "never"],
    "semi-spacing": ["error", { "before": false, "after": true }],
    "sort-vars": "off",
    "space-before-blocks": ["error", "always"],
    "space-unary-ops": ["warn", { "words": true, "nonwords": false }],
    "unicode-bom": "off",
    "arrow-parens": ["error", "always"],
    "arrow-spacing": ["error", { "before": true, "after": true }],
    "constructor-super": "error",
    "generator-star-spacing": ["error", { "before": false, "after": true }],
    "no-class-assign": "error",
    "no-confusing-arrow": "warn",
    "no-const-assign": "error",
    "no-dupe-class-members": "error",
    "no-duplicate-imports": "error",
    "no-new-symbol": "error",
    "no-restricted-imports": "off",
    "no-this-before-super": "error",
    "no-useless-computed-key": "error",
    "no-useless-constructor": "error",
    "no-useless-rename": "warn",
    "prefer-spread": "warn",
    "sort-imports": "off",
    "template-curly-spacing": ["error", "never"],
    "yield-star-spacing": ["error", "after"]
  }
}
